*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
boot/
java*/
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#VSCode
.vscode/*
.metals/*
.bloop/*
.sconsign.dblite

project/.bloop
project/metals.sbt
project/project
project/project/*
project/target
project/target/*

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
*.bin
*.asc
*.json
!/data/*.bin

simWorkspace/
tmp/
gen/
null
