LOCATE COMP "clk_25Mhz" SITE "P6";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "reset_" SITE "R7";
LOCATE COMP "led_red" SITE "T6";
LOCATE COMP "phyrst_" SITE "R6";

LOCATE COMP "J_A" SITE "N5";
LOCATE COMP "J_B" SITE "N3";
LOCATE COMP "J_C" SITE "P3";
LOCATE COMP "J_D" SITE "P4";
LOCATE COMP "J_E" SITE "N4";
LOCATE COMP "J_CLK" SITE "M3";
LOCATE COMP "J_STB" SITE "N1";
LOCATE COMP "J_OE" SITE "M4";

LOCATE COMP "sync" SITE "P11";
LOCATE COMP "video" SITE "N11";
LOCATE COMP "J9_P3" SITE "M11";
LOCATE COMP "burst[0]" SITE "T13";
LOCATE COMP "burst[1]" SITE "R12";
LOCATE COMP "burst[2]" SITE "R13";

LOCATE COMP "J10_P1" SITE "R14";
LOCATE COMP "J10_P2" SITE "T14";
LOCATE COMP "keypad_col[0]" SITE "D16";
LOCATE COMP "keypad_col[1]" SITE "C15";
LOCATE COMP "keypad_col[2]" SITE "C16";
LOCATE COMP "keypad_col[3]" SITE "B16";

IOBUF PORT "keypad_col[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "keypad_col[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "keypad_col[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "keypad_col[3]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "keypad_row[0]" SITE "B15";
LOCATE COMP "keypad_row[1]" SITE "C14";
LOCATE COMP "keypad_row[2]" SITE "T15";
LOCATE COMP "keypad_row[3]" SITE "P15";
LOCATE COMP "J11_P6" SITE "R15";
LOCATE COMP "J11_P7" SITE "P12";
